# Stellar
STELLAR_NETWORK=testnet
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
STELLAR_BASE_FEE=1000000
STELLAR_ACCOUNT=admin

# Tokens
XLM_ADDRESS="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"

# Contracts
POOL_ROUTER_ADDR=""

# External Contracts
SOROSWAP_ADDR=""